
title= title

meta(base='/')
meta(charset='utf-8')

link(href='https://fonts.googleapis.com/css?family=Questrial|Josefin+Sans|Quicksand:300', rel='stylesheet', type='text/css')
link(href='styles/index.css', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css")