* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.no-decor:hover {
  text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 200;
}
h2 {
  font-size: 1.4em;
  font-weight: 100;
}
p {
  line-height: 1.4;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system-headline, "Segoe UI", helvetica neue, helvetica;
  background-color: #212121;
  color: #fff;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  height: 100%;
  padding: 0 20px 0 0;
  background-color: #333;
  text-align: right;
}
.header * {
  -webkit-user-select: none;
  user-select: none;
}
.header__title {
  cursor: default;
  font-size: 1.5em;
}
.header__img {
  display: block;
  width: 100px;
  margin: 0 0 10px 0;
  border-radius: 100%;
}
.header__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
}
.header__icon {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 10px;
  width: 26px;
  height: 26px;
  fill: #fff;
  stroke: #fff;
  transform: scale(0.8);
  transition: 300ms;
}
.header__icon:hover {
  transform: scale(1);
  transition: 70ms;
}
.nav {
  width: 100%;
}
.nav__list {
  width: calc(100% + 20px);
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.nav__link {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 7px 20px;
  font-weight: 300;
}
.nav__link--active {
  background-color: #212121;
}
.main {
  position: absolute;
  left: 200px;
  top: 0;
  height: 100%;
  width: calc(100% - 200px);
}
.blog-list,
.blog-post {
  overflow-y: scroll;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.blog-list--active,
.blog-post--active {
  display: flex;
}
.blog-post__content {
  max-height: 100%;
  max-width: 700px;
}
.post-title {
  cursor: pointer;
  position: relative;
  padding: 8px 0;
  margin: 0;
}
.post-title:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 0.5px;
  background-color: #fff;
  bottom: 2px;
  transition: 150ms;
  transform-origin: 0 50%;
  transform: scale(0);
}
.post-title:hover:before {
  transform: scale(1);
}
