* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  min-height: 1000px;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

nav ul {
  width: 100%;
  display: flex;
  padding: 0 20px;
  margin: 0;
}

nav ul:nth-child(2) {
  justify-content: flex-end;
}

nav li {
  padding: 15px;
  list-style-type: none;
}

header {
  position: relative;
  padding: 30px;
  height: 300px;
  width: 100%;
  background: #4DB6AC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

header::after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 0;
  border-style: solid;
  border-width: 100px 100vw 0 0;
  border-color: #4DB6AC transparent transparent transparent;
}

h1 {
  cursor: default;
  margin: 0;
}

h1::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 23px;
  margin: -3px 6px;
  background: white;
  animation: blink 0.8s steps(1, end) infinite both;
}

@keyframes blink {
  0%  { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}
