.links {
  position: absolute;
  z-index: 1;
  top: 75%;
  width: 400px;
  left: calc(50% - 200px);
  display: flex;
  justify-content: center;
}

.links img {
  width: 50px;
  padding: 5px;
}

button {
  z-index: 10;
  position: relative;
}