doctype html

html(lang='en')
  head  
    include partials/head  

  body
    include partials/header

    main
      each page in collections.pages
        section.post.block
          h3= page.title
          date= page.date
          article!= page.contents

    include partials/footer
