@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .select-none {
    user-select: none;
    -webkit-user-select: none;
  }

  .backdrop-filter {
    backdrop-filter: var(--tw-backdrop-filter);
    -webkit-backdrop-filter: var(--tw-backdrop-filter);
  }
}

body {
  @apply overflow-hidden;
}
